/*------------------------------------*\
  Components > Pagination
\*------------------------------------*/

.c-pagination {
  text-align: center;
  background-color: $bg-gray;
  padding: $base-spacing-unit + half($base-spacing-unit);
}